/**
* @name Orange
* @version Auto Update
* @description Minimal Orange theme for discord!
* @author Nitro_
* @invite https://discord.gg/eJ8jzybMVs
* @Source https://github.com/Nitro0a0/orange
* @website https://github.com/Nitro0a0/orange
*/
@import url("https://discordstyles.github.io/MinimalCord/dist/MinimalCord.css");
@import url('https://fonts.googleapis.com/css2?family=Consolas');
:root {
--accent: 255,128,26;
--message-padding: 10px;
--message-spacing: 10px;
--font: 'Consolas';
}
